{
    "token": "token_kekus",
    "data": [
        {
            "name": "Денис",
            "phone_number": "+78005553535"
        },
        {
            "name": "Алексей",
            "phone_number": "+78005553434"
        },
        {
            "name": "Олег",
            "phone_number": "+78005553333"
        },
        {
            "name": "Денис Сергеевич",
            "phone_number": "+78005553232"
        }
    ]
}
